#calc-container {
    border: solid;
    width: 400px;
    height: 500px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#display {
    border: solid;
    width: 350px;
    height: 100px;
    margin: 10px 0;
}

#calc-btns-container {
    border: solid;
    width: 350px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#calc-btns-container button {
    width: 70px;
    height: 70px;
    margin: 5px;
}
